{{#if profilePhoto}}
    <div class="flex justify-center pb-photo">
      {{> photo photo=profilePhoto}}
    </div>
{{/if}}

<div class="grow flex flex-col justify-between">
  {{#each content}} {{> section section=this isMain=../isMain}} {{/each}} 
</div>  