{{#if profilePhoto}}
    <div class="col-span-2 mr-content-y flex justify-center items-center">
        {{> photo photo=profilePhoto }}
    </div>
{{/if}}

<div class="flex flex-col gap-2 items-start text-justify {{#if profilePhoto}}pl-1 col-span-4{{else}} col-span-6 {{/if}}">
        <h1 class="p-1 text-tname tracking-wide bg-name text-4xl font-bold rounded-name w-name">{{name}}</h1>
        <p class="px-1 py-0 font-mono tracking-widest text-tbrief-description bg-brief-description text-lg rounded-brief-description w-brief-description">{{briefDescription}}</p>
    {{#if contact}}
        {{> contact contact=contact}}
    {{/if}}
</div>
