{{#if profilePhoto}}
    <div class="col-span-2 mr-content-y flex justify-center items-center">
        {{> photo photo=profilePhoto }}
    </div>
{{/if}}

<div class="flex flex-col gap-1 items-start text-justify {{#if profilePhoto}}pl-1 col-span-4{{else}} col-span-6 {{/if}}">
        <h1 class="p-1 text-tname bg-name text-3xl font-bold rounded-all-headers w-name">{{name}}</h1>
        <p class="p-1 text-tbrief-description bg-brief-description text-xl rounded-all-headers w-brief-description">{{briefDescription}}</p>
    {{#if contact}}
        {{> contact contact=contact}}
    {{/if}}
</div>
