{{#if (isArray details)}}
  <ul class="pl-1 list-inside list-disc text-justify text-sm">
    {{#each details}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="pl-1 text-justify text-sm">
    {{details}}
  </p>
{{/if}}