{{#if (isArray details)}}
  <ul class="px-1 list-inside list-disc">
    {{#each details}}
      <li class="text-justify text-sm">
        {{this}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="px-1 text-justify text-sm">
    {{details}}
  </p>
{{/if}}