{{#if (isArray details)}}
  <ul class="pr-1 pl-5 list-outside list-disc flex flex-col gap-1">
    {{#each details}}
      <li class="text-justify -indent-1">
        {{this}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="px-1 text-justify">
    {{details}}
  </p>
{{/if}}