/* Default theme (fallback) */
:root {
  /* background colors */
  --bg-aside: 134 239 172 / 0.5;
  --bg-main: 0 0 0 / 0;
  --bg-header: 21 128 61 / 0.5;

  /* section text bg colors */
  --bg-name: 21 128 61 / 0.5;
  --bg-brief-description: 21 128 61 / 0.5;
  --bg-main-headers: 21 128 61 / 0.5; /* green-600 with 50% opacity */
  --bg-aside-headers: 21 128 61 / 0.5;
  --bg-bold: 21 128 61 / 0.5;
  --bg-footer: 0 0 0 / 0;

  /* text colors */
  --text-name: 31 41 55;
  --text-brief-description: 31 41 55;
  --text-main-headers: 31 41 55;
  --text-aside-headers: 31 41 55;
  --text-normal: 31 41 55;
  --text-footer: 30 41 59;

  /** padding **/
  --padding-page-y: 40px;
  --padding-page-x: 48px;
  --padding-content-x: 20px;
  --padding-content-y: 20px;
  --padding-photo: 20px;

  /** border radius **/
  --rounded-headers: 0.375rem; /* rounded-md */

  /** width **/
  --width-name: fit-content; /* adjust to content */
  --width-brief-description: fit-content;
  --width-headers: 100%;
}

[data-theme='grass-aside'] {
  /* background colors */
  --bg-aside: 21 128 61 / 0.5;
  --bg-main: 0 0 0 / 0;
  --bg-header: 0 0 0 / 0;

  /* section text bg colors */
  --bg-name: 0 0 0 / 0;
  --bg-brief-description: 0 0 0 / 0;
  --bg-main-headers: 0 0 0 / 0; /* green-600 with 50% opacity */
  --bg-aside-headers: 0 0 0 / 0;
  --bg-bold: 21 128 61 / 0.5;

  /** content padding **/
  --padding-content-x: 32px;
  --padding-content-y: 32px;
}

[data-theme='grass-headers'] {
  /* background colors */
  --bg-aside: 0 0 0 / 0;
  --bg-main: 0 0 0 / 0;
  --bg-header: 0 0 0 / 0;

  /* section text bg colors */
  --bg-name: 0 0 0 / 0;
  --bg-brief-description: 0 0 0 / 0;
  --bg-main-headers: 21 128 61 / 0.5;
  --bg-aside-headers: 21 128 61 / 0.5;
  --bg-bold: 21 128 61 / 0.5;
  --bg-footer: 21 128 61 / 0.5;

  /** width **/
  --width-headers: 100%;
}

[data-theme='fun-headers'] {
  /* background colors */
  --bg-aside: 0 0 0 / 0;
  --bg-main: 0 0 0 / 0;
  --bg-header: 0 0 0 / 0;

  /* section text bg colors */
  --bg-name: 246 55 125 / 1;
  --bg-brief-description: 255 182 70 / 1;
  --bg-main-headers: 246 55 125 / 1;
  --bg-aside-headers: 246 55 125 / 1;
  --bg-bold: 21 128 61 / 0.5;
  --bg-footer: 0 0 0 / 0;

  /* text colors */
  --text-name: 255 255 255;
  --text-main-headers: 255 255 255;
  --text-aside-headers: 255 255 255;
  --text-brief-description: 51 51 56;
  --text-normal: 68 64 59; /* stone-600 */
  --text-footer: 51 51 56;

  /** width **/
  --width-name: fit-content; /* adjust to content */
  --width-brief-description: fit-content;
  --width-headers: 100%;

  /** content padding **/
  --padding-content-x: 12px;
  --padding-content-y: 6px;

  /** border radius **/
  --rounded-name: 0.75rem; /* rounded-md */
  --rounded-brief-description: 0.375rem; /* rounded-md */
  --rounded-headers: 0.375rem; /* rounded-md */
}
