/* Default theme (fallback) */
:root {
  /* background colors */
  --photo: 0 0 0 / 0;
  --aside: 0 0 0 / 0;
  --main: 0 0 0 / 0;
  --header: 0 0 0 / 0;

  /* section text bg colors */
  --main-headers: 21 128 61 / 0.5;
  --aside-headers: 21 128 61 / 0.5;
  --name: 21 128 61 / 0.5;
  --brief-description: 21 128 61 / 0.5;
  --bold: 21 128 61 / 0.5;

  /* text colors */
  --text: 31 41 55;
  --text-footer: 30 41 59;

  /** page padding **/
  --page-y: 40px;
  --page-x: 48px;

  /** content padding **/
  --content: 20px;

  /** border radius **/
  --rounded-headers: 0.375rem; /* rounded-md */
}

[data-theme='grass-aside'] {
  /* background colors */
  --photo: 21 128 61 / 0.5; /* green-600 with 50% opacity */
  --aside: 21 128 61 / 0.5;
  --main: 0 0 0 / 0; /* invisible */
  --header: 0 0 0 / 0;

  /* section text bg colors */
  --main-headers: 21 128 61 / 0.5;
  --aside-headers: 0 0 0 / 0;
  --name: 0 0 0 / 0;
  --brief-description: 0 0 0 / 0;
  --bold: 0 0 0 / 0;

  /* text colors */
  --text: 31 41 55; /* slate-800 */
  --text-footer: 30 41 59; /* slate-700 */

  /** content padding **/
  --content: 32px;

  /** border radius **/
  --rounded-headers: 0.375rem; /* rounded-md */
}

[data-theme='chunky-grass'] {
  /* background colors */
  --photo: 21 128 61 / 0.5; /* green-600 with 50% opacity */
  --aside: 21 128 61 / 0.5;
  --main: 0 0 0 / 0; /* invisible */
  --header: 0 0 0 / 0;

  /* section text bg colors */
  --main-headers: 21 128 61 / 0.5;
  --aside-headers: 0 0 0 / 0;
  --name: 0 0 0 / 0;
  --brief-description: 0 0 0 / 0;
  --bold: 0 0 0 / 0;

  /* text colors */
  --text: 31 41 55; /* slate-800 */
  --text-footer: 30 41 59; /* slate-700 */

  /** content padding **/
  --content: 32px;

  /** border radius **/
  --rounded-headers: 0rem; /* not rounded */
}
