/* Default theme (fallback) */
:root {
  /* background colors */
  --bg-aside: 21 128 61 / 0.5;
  --bg-main: 0 0 0 / 0;
  --bg-header: 0 0 0 / 0;

  /* section text bg colors */
  --bg-main-headers: 21 128 61 / 0.5; /* green-600 with 50% opacity */
  --bg-aside-headers: 21 128 61 / 0.5;
  --bg-name: 21 128 61 / 0.5;
  --bg-brief-description: 21 128 61 / 0.5;
  --bg-bold: 21 128 61 / 0.5;
  /* text colors */
  --text-normal: 31 41 55;
  --text-footer: 30 41 59;

  /** page padding **/
  --padding-page-y: 40px;
  --padding-page-x: 48px;

  /** content padding **/
  --padding-content: 20px;
  --padding-photo: 20px;

  /** border radius **/
  --rounded-all-headers: 0.375rem; /* rounded-md */

  /** width **/
  --width-name: fit-content; /* adjust to content */
  --width-brief-description: fit-content;
  --width-headers: 100%;
}

[data-theme='grass-aside'] {
  /* background colors */
  --photo: 21 128 61 / 0.5; /* green-600 with 50% opacity */
  --aside: 21 128 61 / 0.5;
  --main: 0 0 0 / 0; /* invisible */
  --header: 0 0 0 / 0;

  /* section text bg colors */
  --main-headers: 21 128 61 / 0.5;
  --aside-headers: 0 0 0 / 0;
  --name: 0 0 0 / 0;
  --brief-description: 0 0 0 / 0;
  --bold: 0 0 0 / 0;

  /* text colors */
  --text: 31 41 55; /* slate-800 */
  --text-footer: 30 41 59; /* slate-700 */

  /** content padding **/
  --content: 32px;
}

[data-theme='chunky-grass'] {
  /* background colors */
  --aside: 21 128 61 / 0.5;
  --main: 0 0 0 / 0; /* invisible */
  --header: 0 0 0 / 0;

  /* section text bg colors */
  --main-headers: 21 128 61 / 0.5;
  --aside-headers: 0 0 0 / 0;
  --name: 0 0 0 / 0;
  --brief-description: 0 0 0 / 0;
  --bold: 0 0 0 / 0;

  /* text colors */
  --text: 31 41 55; /* slate-800 */
  --text-footer: 30 41 59; /* slate-700 */

  /** content padding **/
  --content: 32px;

  /** border radius **/
  --rounded-all-headers: 0rem; /* not rounded */

  /** width **/
  --width-name: fit-content; /* adjust to content */
  --width-brief-description: fit-content;
  --width-headers: 100%; /* occupy entire column width */
}
